<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>${(systemName)!'Admin'}</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="/adminlte/plugins/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/adminlte/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/adminlte/plugins/jquery-confirm/jquery-confirm.min.css">
<link rel="stylesheet" href="/adminlte/plugins/select2/select2.min.css">
<link rel="stylesheet" href="/adminlte/plugins/daterangepicker/daterangepicker-bs3.css">
<link rel="stylesheet" href="/adminlte/plugins/iCheck/all.css">
<link rel="stylesheet" href="/adminlte/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="/adminlte/dist/css/skins/skin-blue.min.css">

<script src="/js/html5shiv.min.js"></script>
<script src="/js/respond.min.js"></script>