<aside class="main-sidebar">
    <section class="sidebar">
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
          </span>
            </div>
        </form>

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">主导航</li>
            <li>
                <a target="_self" href="/" >
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="active">
                <a href="javascript:;">
                    <i class="fa fa-coffee"></i>
                    <span>系统管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu menu-open" style="display: block;">
                    <li><!----><!---->
                        <a href="#base/area/list.html">
                            <i class="fa fa-leaf"></i> 行政区域
                        </a>
                    </li>
                    <li><!----><!---->
                        <a href="#base/menu/list.html">
                            <i class="fa fa-th-list"></i> 系统菜单
                        </a>
                    </li>
                    <li><!----><!----><a href="#base/log/list.html"><i class="fa fa-warning"></i> 系统日志</a></li>
                    <li><!----><!----><a href="#base/quartz/list.html"><i class="fa fa-bell"></i> 定时任务</a></li>
                    <li><!----><!----><a href="#druid/index.html"><i class="fa fa-bug"></i> 系统监控</a></li>
                    <li><!----><!----><a href="#swagger-ui.html"><i class="fa fa-support"></i> 接口管理</a></li>
                </ul><!---->
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bar-chart-o"></i>
                    <span>图表</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Morris</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> ChartJs</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Flot</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Inline charts</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>个人中心</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="treeview">
                        <a href="#"><i class="fa fa-user"></i>
                            <span>个人信息</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-key"></i>
                            <span>修改密码</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>